body{
    color: white;
    background: black;
    margin: 0px;
    font-family: "Dancing Script", sans-serif;
}
header{
    border-bottom: solid 3px white;
    padding: 20px;
    font-size: 32px;
    color: red;
}
section{
    background: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin: 5%
}

h1{
   font-size: 30px;
}
p{
    font-size: 25px;
}

img{
    height: 200px;
    opacity: 0.5;
}

img:hover{
    opacity: 1.0;
    border: solid 5px white;
}
    
.categoria-videos{
    background: blue;
    padding-left: 30px;
    padding-right: 30px;
}

.videos-recomendados{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}